[defaults]
inventory = ansible/inventory.yml
roles_path = ansible/roles
callback_plugins = ansible/callback_plugins
callbacks_enabled = slack_summary
retry_files_enabled = false
stdout_callback = default
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible-facts
fact_caching_timeout = 300
interpreter_python = auto_silent

[privilege_escalation]
become = false
